.section__main_text_container {
  display: grid;
}
.section__main_title {
  letter-spacing: normal;
}
.section__main_text {
  text-align: justify;
}
.button__icon_container {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--green-color);
}
.section__main_address {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.section__main_info_container {
  position: relative;
}
.section__main_info_container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--green-color);
}

@media screen and (max-width: 767px) {
  .section__main_text_container {
    column-gap: 24px;
    padding-bottom: 24px;
  }
  .section__main_info_container {
    padding-bottom: 36px;
  }
  .section__main_title {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .section__main_text {
    margin-bottom: 24px;
    text-align: justify;
  }
  .section__main_address {
    text-decoration: none;
    padding-top: 24px;
    text-align: center;
  }
  .section__main_mail {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .section__main_ownership {
    display: none;
  }
  .section__main_image_container {
    background-image: url('assets/images/wind-turbine-clean-energy-l-1x.jpg');
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section__main_image_container {
      background-image: url('assets/images/wind-turbine-clean-energy-l-2x.jpg');
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__main_text_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 24px;
    row-gap: 43px;
    padding-bottom: 24px;
  }
  .section__main_title {
    grid-row: 1/3;
    max-width: 301px;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
  }
  .section__main_text {
    min-height: 57px;
    min-width: 342px;
    grid-row: 1/1;
    align-self: start;
    color: #173d33;
    font-size: 16px;
  }
  .section__main_info_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
  .section__main_address {
    grid-column: 1/3;
  }
  .section__main_ownership {
    justify-self: end;
  }
  .section__main_image_container {
    background-image: url('assets/images/wind-turbine-clean-energy-l-1x.jpg');
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    width: 100%;
    height: 348px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section__main_image_container {
      background-image: url('assets/images/wind-turbine-clean-energy-l-2x.jpg');
    }
  }
}

@media screen and (min-width: 1280px) {
  .section__main_text_container {
    grid-template-columns: 1fr 1fr 460px;
    justify-items: start;
    row-gap: 24px;
    padding-bottom: 24px;
  }
  .section__main_title {
    grid-column: 1/3;
    grid-row: 1/3;
    max-width: 485px;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
  }
  .section__main_text {
    min-height: 57px;
    min-width: 363 px;
    grid-row: 1/1;
    align-self: start;
    color: #173d33;
    font-size: 16px;
  }
  .section__main_info_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 230px 230px;
    padding-top: 16px;
    padding-bottom: 36px;
  }
  .section__main_address {
    grid-column: 1/5;
  }
  .section__main_mail {
    grid-column: 5/6;
  }
  .section__main_ownership {
    grid-column: 6/7;
    justify-self: end;
  }
  .section__main_image_container {
    background-image: url('assets/images/wind-turbine-clean-energy-l-1x.jpg');
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    width: 100%;
    height: 524px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section__main_image_container {
      background-image: url('assets/images/wind-turbine-clean-energy-l-2x.jpg');
    }
  }
}
