.section__faq {
  position: relative;
  display: grid;
}
.section__faq_title {
  text-transform: uppercase;
}
.section__faq__button_container {
  display: grid;
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .section__faq {
    place-items: center;
    padding-top: 36px;
  }
  .section__faq_title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 1;
  }
  .section__faq_title__text {
    margin-bottom: 12px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__faq {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding-top: 36px;
    column-gap: 24px;
  }
  .section__faq_title {
    font-size: 36px;
    line-height: 1;
  }
  .section__faq_title__text {
    margin-bottom: 12px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
@media screen and (min-width: 1280px) {
  .section__faq {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    padding-top: 36px;
    column-gap: 48px;
  }
  .section__faq_title {
    display: grid;
    grid-template-columns: 400px;
    justify-self: end;
    padding-right: 60px;
    width: 460px;
    font-size: 48px;
    line-height: 1;
  }
  .section__faq_title__text {
    margin-bottom: 12px;
    text-align: center;
    font-size: 24px;
    letter-spacing: -0.96px;
  }
  .section__faq__button_container {
    display: grid;
    grid-template-columns: 400px;
    justify-self: end;
    padding-right: 60px;
  }
  .section__faq_title__text {
    width: 400px;
    text-align: left;
  }
}
