@media screen and (max-width: 767px) {
  .section__cases_title {
    margin-bottom: 24px;
    max-width: 264px;
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__cases_title {
    max-width: 264px;
    font-size: 36px;
  }
  .section__cases::after {
    content: '';
    position: absolute;
    top: 105px;
    left: 50%;
    height: 65px;
    width: 1px;
    background-color: var(--green-color);
  }
}
@media screen and (min-width: 1280px) {
  .section__cases::after {
    content: '';
    position: absolute;
    top: 120px;
    left: 50%;
    height: 96px;
    width: 1px;
    background-color: var(--green-color);
  }
  .section__cases_title {
    max-width: 398px;
    font-size: 48px;
  }
}
