svg {
  flex-shrink: 0;
  transition: var(--transition);
}
@media screen and (max-width: 767px) {
  .section__faq_item__icon {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section__faq_item__icon {
    position: absolute;
    left: -44px;
    top: 50%;
    height: 28px;
    width: 28px;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1280px) {
  .section__faq_item__icon {
    position: absolute;
    height: 28px;
    width: 28px;
    left: -52px;
    top: 50%;
    transform: translateY(-50%);
  }
}
