:root {
  --white-color: #fff;
  --light-green-color: #dcefd8;
  --green-color: #97d28b;
  --dark-green-color: #173d33;
  --gray-color: #eaedf1;
  --background-color: #f3f5fa;

  --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --backdrop: rgba(23, 61, 51, 0.25);
  --box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);

  --z-index-modal: 100;
}

body {
  background-color: var(--background-color);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--dark-green-color);
  width: 100%;
  overflow-y: auto;
  min-height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
